.profile__button-edit{
  width: 24px;
  height: 24px;
  background: no-repeat url('../../../images/editButton.svg');
  background-position: center;
  border: 1px solid #FFFFFF;
  padding: 0;
}

.profile__button-edit:hover{
  cursor: pointer;
  opacity: 0.6;
  transition: opacity .1s linear;
}

@media screen and (max-width: 690px){
  .profile__button-edit{
    width: 18px;
    height: 18px;
  }
}
