.profile{
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

@media screen and (max-width: 920px){
  .profile {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media screen and (max-width: 690px){
  .profile {
    flex-direction: column;
  }
}
