.footer{
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
  margin-bottom: 60px;

}

@media screen and (max-width: 910px){
.footer {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 36px;
    margin-left: 19px;
}
}
